
.deviceToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.deviceToggleIcon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    }

.deviceToggleLabel {
    color: #fff;
    font-size: 1rem;
    margin-right: 0.5rem;
    }
/*******  7c74b16f-43e4-42de-9b1c-94cb76969f07  *******/    
